body {
	margin: 0;
}

main {
	overflow: hidden;
	margin: 0;
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	text-rendering: optimizeLegibility;
	font-family: Georgia, serif;
	line-height: 1.3em;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a,
a:visited,
a:hover {
	color: #000000;
	text-shadow: 0 0 0.1px rgba(73, 70, 70, 0.5);
}

#aigo {
	width: 100%;
	height: 100%;
	writing-mode: vertical-rl;
	font-size: 15vh;
	color: white;
	text-align: center;
	pointer-events: none;
}

.popup {
	max-height: 100%;
	overflow-y: auto;
	display: none;
	width: 100%;
	pointer-events: none;
}

.korean {
	font-family: "Nanum Pen Script", serif;
}

.transparent {
	opacity: 0.5;
}

#book-embed {
	width: 100%;
	height: 40vh;
	box-sizing: border-box;
	border: none;
}

#links {
	position: fixed;
	top: unset;
	bottom: 10px;
	text-align: center;
	right: 50%;
	transform: translateX(50%);
}

.popup-content {
	margin: 20px;
	pointer-events: auto;
}

@media only screen and (min-width: 600px) {
	#aigo {
		font-size: 25vw;
		writing-mode: unset;
	}

	.popup-content {
		margin: 5% 30%;
	}
}

.centered {
	position: fixed;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
}

.palette {
	background-color: white;
	padding: 10px;
}

.sound-icon {
	bottom: 10px;
	right: 10px;
	position: fixed;
	width: 30px;
	height: 30px;
	filter: invert(1);
	pointer-events: none;
}

#big-button {
	width: 100%;
	height: 100%;
}

#video {
	min-width: 110%;
	min-height: 110%;
	filter: blur(10px);
	opacity: 0;
	overflow: hidden;
	-webkit-transition: opacity 1s ease-in;
	-moz-transition: opacity 1s ease-in;
	-o-transition: opacity 1s ease-in;
	-ms-transition: opacity 1s ease-in;
	transition: opacity 1s ease-in;
	pointer-events: none;
}

#video:hover {
	cursor: pointer;
}

/*****begin comment box styling*****/

form.new-post-form {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid;
	padding: 8px;
}

form.new-post-form > * {
	margin: 4px 0;
	display: block;
}

form.new-post-form > textarea {
	width: 100%;
	box-sizing: border-box;
}

tr.post-row {
	border: 1px solid;
	text-align: center;
	vertical-align: middle;
	display: block;
	padding: 8px;
}

tr.post-row + tr.post-row {
	margin-top: 1em;
}

.more-controls-details,
.new-post-poster-label,
.new-post-email-label,
.box-name,
.post-header {
	display: none !important;
}

.box-body button {
	margin-top: 1em;
}

.box-body button:hover {
	cursor: pointer;
}

a.post-date-link {
	color: unset;
}

tr.post-row td {
	text-align: left;
}

tr.post-row > td.post-delete {
	padding: 0;
}

td.post-delete:not(:has(> form)) {
	display: none;
}

tr.post-row td.post-delete > form {
	padding: 0;
	margin: 0;
	width: unset;
	border: none;
}

tr.post-row td.post-delete > form > button {
	margin: 0;
	background: none;
	border: none;
	text-decoration: underline;
	display: inline;
}

tr.post-row > td.post-message {
	display: block;
}

td.post-message > .post-message-content,
td.post-poster {
	white-space: pre-wrap;
	overflow-wrap: anywhere;
	word-break: normal;
}

table.post-table {
	border: none;
	width: 100%;
	box-sizing: border-box;
	border-collapse: collapse;
}

td.post-message-content {
	font-size: 16px;
}

td.post-poster,
td.post-date,
td.post-reply {
	font-size: 12px;
}

td.post-reply form {
	
}

td.post-reply details > summary {
	font-style: italic;
	cursor: pointer;
}

td.post-reply:has(> details[open]) {
	display: block;
}

blockquote.post-parent-content {
	font-size: 14px;
	font-style: italic;
	border: dotted;
	padding: 0.5em;
	margin: 0.5em;
	color: #858a8f;
}

blockquote.post-parent-content > a {
	color: #858a8f;
}
